---
import Base from "/layouts/Base.astro";

import { Image } from "astro:assets";
import avatar from "/assets/avatar.jpg";

import { getCollection } from "astro:content";
const blogEntries = await getCollection("blog");
blogEntries.sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());
---

<Base>
  <div class="container mx-auto px-4 py-8 text-center">
    <Image
      src={avatar}
      alt="David"
      class="rounded-full border-solid border-2 border-stone-900 mx-auto w-32 h-32 mb-6"
    />

    <p>
      Data at <a href="https://protocol.ai/">Protocol Labs</a>
    </p>
    <p>Learning about anything and everything all of the time.</p>

    <div class="m-5">
      <a href="https://twitter.com/davidgasquez/" target="_blank" title="Twitter">Twitter</a>
       ·
      <a href="https://github.com/davidgasquez/" target="_blank" title="Github">GitHub</a>
       ·
      <a href="https://www.linkedin.com/in/davidgasquez/" target="_blank" title="Linkedin">LinkedIn</a>
       ·
      <a href="mailto:davidgasquez@gmail.com" target="_blank" title="Email">Email</a>
       ·
      <a href="https://open.spotify.com/user/kalendos" target="_blank" title="Spotify">Spotify</a>
    </div>
  </div>

  <h3>Posts</h3>
  <ul>
    {
      blogEntries.map((blogPostEntry) => (
        <li>
          <a href={`${blogPostEntry.slug}`}>{blogPostEntry.data.title}</a> —
          <time datetime={blogPostEntry.data.date.toISOString()}>{blogPostEntry.data.date.toDateString()}</time>
        </li>
      ))
    }
  </ul>
</Base>
